<h1>Add a new job posting below:</h1>
<form action="/jobs_added" method="post">
  <label for="new-title">Add a job title</label>
  <input type="text" name="new-title" id="new-title">
  <label for="new-description">Add a job description</label>
  <input type="text" name="new-description" id="new-description">
  <!-- <label for="new-contact-info">Add employer contact information</label>
  <input type="text" name="new-contact-info" id="new-contact-info"> -->
  <label for="new-name">Add Contact name</label>
  <input type="text" name="new-name" id="new-name">
  <label for="new-email">Add contact email</label>
  <input type="text" name="new-email" id="new-email">
  <label for="new-phone-number">Add contact phone-number</label>
  <input type="text" name="new-phone-number" id="new-phone-number">
  <button type="submit">Add job</button>
</form>
